.App {
  font-family: sans-serif;
  text-align: center;
}

.popup-container {
  background-color: #e3fbff;
  border-radius: 20px;
  top: 10%;
  position: relative;
  width: 100%;
  box-shadow: 5px 5px 10px rgb(87, 87, 87);
}
.popup h1 {
  background-color: #5f68c3;
  color: white;
  margin-left: -0.75em;
  margin-right: -0.77em;
  border-radius: 18px 18px 0 0;
  padding: 20px;
  text-align: center;
}

.popup p {
  padding: 2em;
  text-align: center;
}

.popup .btn {
  margin: 20px;
  position: relative;
  left: 33%;
  width: 33%;
}

ul {
  list-style-type: none;
}

#question {
  padding-top: 3em;
  padding-bottom: 1em;
  z-index: 0;
}
#question p {
  height: 15%;
}

#answers ul li {
  background-color: rgb(212, 226, 236);
  padding: 0.1em;
  border-radius: 15px;
  text-align: center;
  margin-top: 5px;
  border: 2px solid transparent;
  height: 30%;
  line-height: 20px;
  width: 100%;
  box-shadow: 1px 1px 3px rgb(87, 87, 87);
}

#answers ul li:hover {
  background-color: rgb(136, 196, 238);
  padding: 0.1em;
  border-radius: 15px;
  text-align: center;
  margin-top: 5px;
  border: solid 2px rgb(78, 78, 78);
  font-weight: bold;
  width: 100%;
}

p {
  margin-bottom: 0.2em;
  padding: 4px;
}

#submit {
  padding-bottom: 5em;
}

#footer {
  position: fixed;
  bottom: 0%;
  background-color: #d3d3d3;
  left: 0;
  width: 100%;
  padding: 0.5em 0 10px 10px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  background-color: rgb(0, 0, 0);
  opacity: 0.33;
  width: 100%;
  height: 100%;
}

#answers ul li.right {
  background-color: rgb(84, 190, 107);
  box-shadow: 1px 1px 3px rgb(84, 190, 107);
  border: 2px solid green;
}

#answers ul li.wrong {
  background-color: rgb(231, 111, 111);
  box-shadow: 1px 1px 3px rgb(231, 111, 111);
  border: 2px solid red;
}

button.btn.btn-primary {
  background-color: #5f68c3;
  border-color: #5f68c3;
}
button.btn.btn-primary:hover {
  background-color: #464fac;
}
button.btn.btn-primary:focus {
  background-color: #3b4394;
}

.hub {
  position: relative;
  top: 3em;
  box-shadow: 5px 6px 10px #bababa;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(204, 125, 60);
}
